body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App */
/* .app {
  padding: 0 30px;
} */

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 30px;
}

/* NavBar */
.navbar a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 6px;
  margin: 0 6px;
}

.navbar .active {
  color: #000;
  border-bottom: 3px solid rgb(207, 69, 5);
}

/* Cover Image */
.cover-image {
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 100px 100px #000;
  z-index: 0;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.quote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 60%;
  margin: 60px auto;
}

/* Books */
.book-container {
  text-align: center;
  margin: 0 10px 40px 10px;
}

.book-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
}

.book-card {
  padding: 10px 20px;
  margin: 10px auto;
  background-color: #C8C8C8;
  border-radius: 20px;
}

.book-card a {
  text-decoration: none;
  color: #000;
}

.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}